[Unit]
Description=open-geocode runtime
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/open-geocode/bin/open-geocode serve --pack /var/lib/open-geocode/pack --bind 127.0.0.1:8080
Restart=always
User=oguser

[Install]
WantedBy=multi-user.target
